@font-face {
    font-family: "Bebas Neue Cyrillic";
    src: url("../fonts/bebasneuecyrillic.ttf") format("truetype");
}
body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #F9F9F9;
}
body *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
.df{
    display: flex;
}
.a-center{
    align-items: center;
}
.a-end{
    align-items: flex-end;
}
.j-end{
    justify-content: flex-end;
}
.j-spc-btw{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-column{
    flex-direction: column;
}
.pr{
    position: relative;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    height: 51px;
    border-radius: 3px;
    padding: 15px 30px;
    background: transparent;
}
.btn__white{
    background: #fff;
    color: #000;
    font-size: 18px;
    gap: 10px;
    font-weight: 700;
}
.btn__red{
    background: #DF2121;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.btn__menu{
    display: none;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.navbar{
    height: 101px;
    background: url('../img/navbar.png');
    width: 100%;
}
.banner{
    background: url('../img/banner.png') no-repeat ;
    background-size: cover;
    height: 1024px;
    padding-top: 226px;
    position: relative;
}
.banner:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/b1.svg') no-repeat;
    background-position: bottom right;
    bottom: 0;
}
.menu{
    gap: 30px;
}
.menu__link{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.actions{
    gap: 20px;
}

.banner__title span{
    padding: 25px 20px 8px;
    background: #121212CC;
    box-shadow: 0px 4px 10px 0px #00000040;
    backdrop-filter: blur(25px);
    color: #fff;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    text-transform: uppercase;
    font-size: 82px;
    width: fit-content;
    font-weight: 400;
    margin-bottom: 10px;
}
.banner__sub{
    padding: 25px 20px 8px;
    background: #fff;
    width: fit-content;
    font-size: 48px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #161515;
    margin-bottom: 30px;
}
.banner__sub span{
    font-size: 82px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F42929;
}
.banner__text{
    padding: 10px 20px;
    background: #121212CC;
    box-shadow: 0px 4px 10px 0px #00000040;
    backdrop-filter: blur(25px);
    max-width: 695px;
    margin-bottom: 80px;
    color: #fff;
    font-size: 18px;
    line-height: 1.4;

}
.banner .btn__red{
    position: relative;
    height: 78px;
    font-size: 24px;
    font-weight: 500;
    width: 290px;
}
.banner .btn__red:after{
    content: '';
    height: 8px;
    width: 100%;
    background: #DF2121;
    opacity: .4;
    position: absolute;
    bottom: -3px;
    border-radius: 3px;
}
.form{
    padding-top: 100px;
}
.form__content{
    padding: 60px;
    background: url('../img/fom.png') #1D1D20 ;
    border-radius: 20px;
}
.form__title{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}
.form__row{
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.form__input{
    width: 100%;
    background: #fff;
    border: none;
    border-right: 3px;
    height: 68px;
    padding: 23px 20px;
    font-size: 18px;
}
.form__input::placeholder{
    color: #929292;
    opacity: 1;
}
.form__row .btn__red{
    width: 100%;
    height: 68px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;

}
label {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
label a{
    text-decoration: underline;
    color: #fff;
}
label input[type=checkbox]{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.form__row:last-child{
    margin-bottom: 0;
}
.contract{
    padding-top: 120px;
}
.section__title{
    font-size: 48px;
    font-weight: 900;
    color: #1D1D20;
    margin-bottom: 20px;
    max-width: 923px;
    text-transform: uppercase;
}
.section__text{
    color: #38383C;
    margin-bottom: 10px;
    max-width: 1083px;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
}
.contract__content{
    gap: 20px;
    margin-top: 50px;
}
.contract__left{
    width: 315px;
    border-radius: 10px;
    overflow: hidden;
}
.contract__left img{
    height: 100%;
    object-fit: cover;
}
.contract__right{
    width: calc(100% - 335px);
    gap: 20px;
}
.contract__item{
    width: calc(100% / 3 - 14px);
    border-radius: 10px;
    padding: 30px 20px;
}
.contract__icon{
    width: 80px;
    height: 80px;
   background: #F4292980;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contract__item:first-child{
    background: url('../img/c1.png') no-repeat;
}
.contract__item:nth-child(2){
    background: url('../img/c2.png') no-repeat;
}
.contract__item:nth-child(3){
    background: url('../img/c3.png') no-repeat;
}
.contract__item:nth-child(4){
    background: url('../img/c4.png') no-repeat;
}
.contract__item:nth-child(5){
    background: url('../img/c5.png') no-repeat;
}
.contract__item:nth-child(6){
    background: url('../img/c6.png') no-repeat;

}
.contract__item h3{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.contract__item h3 span{
    text-transform: uppercase;
    font-weight: 600;
}
.contract__item:nth-child(1) h3, .contract__item:nth-child(2) h3{
    font-size: 20px;
}
.withdraw{
    padding-top: 120px;
}
.withdraw .section__title{
    max-width: 100%;
    margin-bottom: 50px;
}
.withdraw__content{
    gap: 20px;
}
.withdraw__left{
    max-width: 650px;
    width: 100%;
}
.withdraw__right{
    max-width: calc(100% - 670px);
    width: 100%;
}
.withdraw__item{
    padding: 24px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #1D1D20;
}
.withdraw__item:first-child{
    padding: 30px;
    margin-bottom: 20px;
    background: url(../img/navbar.png) #1D1D20;
}

.withdraw__item h3{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}
.withdraw__item h4{
    font-size: 34px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 5px;
}
.withdraw__item p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.withdraw__right .btn__red{
    height: 102px;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 20px;
}
.benefits{
    padding-top: 120px;
}
.benefits .section__title{
    margin-bottom: 50px;
}
footer{
    margin-top: 90px;
    padding-top: 44px;
    padding-bottom: 44px;
    background: url('../img/navbar.png') #121212;
    box-shadow: 0px 4px 10px 0px #00000040;
    backdrop-filter: blur(25px)
}
.benefit__row{
    gap: 20px;
    margin-bottom: 40px;
}
.benefit__row:last-child{
    margin-bottom: 0;
}
.benefit__item{
    width: calc(100%/3 - 13px);
    border-radius: 10px;
    background: #1D1D20;
}
.benefit__img{
    height: 216px;
}
.benefit__img img{
    object-fit: cover;
}
.benefit__content{
    padding: 30px 30px 35px;
}
.benefit__content h3{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.benefit__row li{
    padding-left: 22px;
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.benefit__row li:last-child{
    margin-bottom: 0;
}
.benefit__row li:before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 5px;
    background: url('../img/li.svg') no-repeat;
}
.benefit__left{
    max-width: 630px;
    width: 100%;
}
.benefit__right{
    max-width: calc(100% - 650px);
    width: 100%;
    padding: 60px 35px;
    background: #1D1D20;
    border-radius: 10px;
}
.benefit__right h3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.benefit__right h4{
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;

}
.benefit__right ul{
    margin-bottom: 30px;
}
.benefit__right .btn__red{
    width: 257px;
    height: 53px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
}
.benefit__left img{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.additional{
    padding-top: 120px;
}
.additional .section__title{
    max-width: 782px;
    width: 100%;
}
.additional .section__text{
    max-width: 100%;
    margin-bottom: 50px;
}
.pricing__list {
    gap: 71px 20px;
}
.pricing__item{
    width: calc(100%/3 - 14px);
    position: relative;
}
.pricing__img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.pricing__img img{
    height: 100%;
    object-fit: cover;
}
.pricing__img:after{
    content: '';
    width: 100%;
    height: 100%;
    max-height: 330px;
    background: #0000001A;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.pricing__item p{
    width: 347px;
    height: 80px;
    position: absolute;
    background: #1D1D20;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    gap: 10px;
}
.equipment{
    padding-top: 160px;
}
.equipment__left{
    max-width: 486px;
    width: 100%;
}
.equipment__right{
    width: calc(100% - 506px);
    gap: 10px 19px;
    padding-right: 60px;
}
.equipment__content{
    gap: 20px;
    margin-top: 50px;
}
.equipment__item{
    width: calc(100%/2 - 18px);
    background: url('../img/eq-bg.png') no-repeat;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
    height: 123px;
    background-size: cover;
}
.equipment__img{
    width: 87px;
}
.equipment__text{
    width: calc(100% - 102px);
}
.equipment__text h3{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.equipment__text p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.become-to-contract{
    padding-top: 120px;
}
.become__banner{
    margin-top: 50px;
    background: url('../img/become-bg.png') #38383C;
    background-size: cover;
    gap: 40px;
}
.become__right{
    padding-top: 70px;

}
.become__right h3{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.become__right li{
    padding-left: 15px;
    position: relative;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.become__right li:before{
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #F42929;
    left: 0;
    top: 5px;
    position: absolute;
}
.become__right ul{
    margin-bottom: 30px;
}
.become__right h4{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.become__right .btn__red{
    margin-top: 40px;
    width: 257px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
}
.ordering{
    padding-top: 174px;
}
.ordering__content{
    gap: 20px;
}
.ordering .section__title{
    margin-bottom: 50px;
}
.ordering__right{
    max-width: 608px;
    width: 100%;
}
.ordering__left{
    max-width: calc(100% - 644px);
    width: 100%;
}
.order__item{
    padding-left: 56px;
    padding-bottom: 20px;
    position: relative;
    border-left: 1px solid #E2E2E2;
    margin-left: 36px;
}
.order__item:last-child{
    border-left: 0;
}
.order__item:before{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background: #F42929;
    transform: rotate(45deg);
    left: -10px;
    top: 5px;
}
.order__item h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.order__item p{
    color: #38383C;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
}
.contact{
    padding-top: 120px;
}
.contact__content{
    background: url('../img/fom.png') #38383C;
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
    gap: 47px;
}
.contact__left{
    width: 732px;
}
.contact__right{
    width: calc(100% - 779px);
    padding-top: 48px;
}
.contact__right h3{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact__right p{
    color: #EEEEEE;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact__right a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.contact__right a.strong{
    font-weight: 600;
}
.contact__right div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.faq{
    padding-top: 120px;
}
.faq .section__title{
    margin-bottom: 40px;
}
.faq details{

    margin-bottom: 20px;
}
.faq summary{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    list-style: none;
    padding: 41px 40px;
    background: url('../img/faq.png') #1D1D20;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.faq summary:after{
    content: '';
    background: url('../img/faq.svg') no-repeat;
    transform: rotate(180deg);
    width: 28px;
    height: 19px;
    position: absolute;
    right: 35px;
    top: 42px;
    transition: all .3s;
}
.faq details[open] summary:after{
    transform: rotate(0deg);

}
.faq details div{
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 60px 50px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}
.working__content{
    gap: 20px;
    margin-top: 40px;
}
.working__left{
    width: 630px;
}
.working__right{
    width: calc(100% - 650px);
    background: url('../img/w-bg.png') #1D1D20;
    border-radius: 10px;
    padding: 60px 44px;
}
.working__right h3{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}
.working__right li{
    padding-left: 16px;
    position: relative;
    border-left: 5px solid #F42929;
    margin-bottom: 17px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.working__right p{
    margin-top: 27px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 60px;
}
.working__right .btn__red{
    width: 257px;
    height: 53px;
    font-size: 20px;
    border-radius: 10px;
}
.working{
    padding-top: 139px;
}
.medical__content{
    gap: 20px;
    margin-top: 40px;
}
.medical{
    padding-top: 120px;
}
.medical__left{
    width: 630px;
}
.medical__right{
    width: calc(100% - 650px);
    padding-top: 35px;

}
.medical__right h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1d1d20;
    margin-bottom: 30px;
}
.medical__right li{
    padding-left: 46px;
    position: relative;
    color: #38383C;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.medical__right li:before{
    content: '';
    width: 31px;
    height: 31px;
    background: url('../img/x.svg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.medical__right ul{
    margin-bottom: 25px;
}
.medical__right p{
    color: #38383C;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.medical__right .btn__red{
    width: 330px;
    font-size: 20px;
    height: 63px;
    border-radius: 10px;
}
.vacancy-banner{
    background: url('../img/vac.png') no-repeat;
    height: 501px;
    padding: 65px 45px;
    width: 100%;
    background-size: cover;
    margin-top: 40px;
}
.vacancy__right{
    max-width: 575px;
    width: 100%;
}
.vacancy__content{
    justify-content: flex-end;
}
.vacancy__right h2{
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.vacancy__right p{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 75px;
}
.vacancy__right .btn__red{
    width: 301px;
    height: 63px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}
.choose{
    padding-top: 120px;
}
.choose .section__text{
    margin-bottom: 40px;
    max-width: 100%;
}
.choose .container > h3{
    color: #1D1D20;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 93px;
    text-transform: uppercase;
}
.choose__item{
    width: calc(100%/2 - 10px);
    background: url('../img/choose.png') #1D1D20;
    border-radius: 10px;
    position: relative;
    padding: 36px 30px 39px;

}
.choose__item h3{
    color: #fff;
    width: calc(100% - 30px);
    background: #F42929;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 15px;
    position: absolute;
    left: 15px;
    top: -37px;
}
.choose__list{
    gap: 77px  20px;
}
.choose__item p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}
.choose__item li{
    padding-left: 16px;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 14px;
}
.choose__item li:before{
    content: '';
    width: 8px;
    height: 8px;
    background: url('../img/li.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 6px;
}
.choose__item li:last-child{
    margin-bottom: 0;
}
.banner .container{
    position: relative;
    z-index: 1;
}